body {
	 background-color:#006699
}

h1 {
	color:  #FF9; 
	font-weight:bolder;
	text-transform:capitalize;
}

h2{
	color: #FFF; 
	font-weight:bolder;
	text-transform:capitalize;
}

a
{
	text-decoration:none;
	color:#333;
	font-weight:bold;
}
.error{
	color: #F6F; 
	font-weight:bold;
}

scrdiv {
     width:110%;
     height:300px;
	 overflow:auto;
}


#tbl1{
	background-color:#98bf21;
	width: 1374px; 
}

#tbl2{
	background-color:#666666;
	width: 1364px;
}

#tbl3{
	background-color:#C2C2C2;
	width: 1364px;
}

#tbl4{
	width: 1364px; 
	background-color:#98bf21;
}


.pass1, .pass2{
	background: #90F;
	border:solid #009;
}

.button1{
	background:#CC3;
	border: outset #9FF;
	font-weight:bold;
	cursor:pointer;
}

select {
	background:#096;
	font-weight:bold;
	border:inset;
}

.selbox {
    border:1px solid #ccc;
	background-color: #9FFF9D;

}

.field1{
	border: #3C0 solid;
}