.headbar{position:absolute}
.toparea{position:absolute}
.midarea{position:absolute;height:75%}
.botarea{position:absolute}
.midarea2{position:absolute;height:75%}
.botarea2{position:absolute}

.topchat{position:absolute}
.midchat{position:absolute;height:75%}
.botchat{position:absolute}

.box_ascr{position:absolute}
.box_emtn{position:absolute}
.box_user{position:absolute}

.o_opa{filter:alpha(opacity=80)}
.o_tbl{width:95%}
.c_tbl{width:95%}